@import "./vars.scss";

.navbarBody{
  background-color: $black;
  height: 6vh;
  border-bottom: 1px solid $violet;

  .navbarLogo{
    max-height: 4vh;
  }
  a, .navbarLink{
    color: $white;
    font-size: 1.2em;
    text-decoration: none;
    text-decoration-color: $white;
    transition: .2s;

    &:hover{
      color: $violet;
    }
  }

  .dropdownLink{
    color: $black;
  }

  .purple-line-separator{
    height: 1vh;
    width: 100vw;
    background-color: $violet;
  }
}
