@import "./vars.scss";

#landing{
  height: 94vh;
  background-image: url("../img/stars.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  .landing-logo{
    max-width: 15vw;
  }

  .landing-separator{
    width: 2px;
    background-color: $white;
  }
}

.b-dark{
  background-color: $black;
  color: $white;
}

.montserrat{
  font-family: Montserrat !important;
  font-weight: normal !important;
}
.osaka{
  font-family: 'Osaka Chips' !important;
  font-weight: normal !important;
}
.ubuntu{
  font-family: Ubuntu !important;
  font-weight: 600 !important;
}

#profil{
  height: 50vh;
  margin-bottom: 5vh;
  background-color: $violet;
  // color: $white;
  padding: 60px;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

#stageblinxon, #reactsetup{
  .margin-separator{
    margin-top: 20vh;
  }
  a:hover{
    text-decoration: underline;
  }

  .overlined{
    border-radius: 5px;
    text-transform: none;
    font-weight: normal;
    font-family: Ubuntu;
    background-color: rgba(#9146FF, 0.3);
  }
}


@media screen and (max-width: 992px){
  .landing-logo-container{
    display: flex;
    flex: column;
    justify-content: center;

    .landing-logo{
      width: 100vw;
    }
  }

  .job-card{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px !important;
  }

  #profil{
    height: auto !important;
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
  }
}
